.roboto-<uniquifier > {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  
  .raleway-<uniquifier > {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    padding: 0;
    max-width: 320px;
    margin: 0 auto;
  }
  h1,h2,h3,h4,h5,h6,p {
      
      margin: 0;
      
  }
  a {
      text-decoration: none;
  }
  
  ul,
  ol {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  
  img {
      display: block;
      max-width: 100%;
      height: auto;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common */

.container {
    max-width: 320px;
    /* padding: 0 16px; */
    margin: 0 auto;
    text-align: center;
    
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
        
    }
}

/* header */

.header {
    display:flex;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 320px;
}

.links, .contacts {
    display: none;
}

.logo {
    display: block;
    align-items: center;
    padding: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.burger-button {
    cursor: pointer;
    padding: 16px;
    border: none;
    background-color: inherit;
}

.burger-button:focus {
    outline: none;
}

.section-solution {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7))
        , url(../images/hero_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 72px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    max-width: 320px;
    height: 432px;
}

.container-solution {
    max-width: 320px;
    margin: 0 auto;
}

.solution {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    padding: 52px 72px;   
}


.service {
    position: relative;
    border: none;
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    height: 56px;
    min-width: 169px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff; 
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.service:hover,
.service:focus {
    background-color: #404BBF;
    }

    .advantages {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 96px 0;
        flex-direction: column;
        gap: 72px;
        text-align: center;
        width: 320px;
    }

    .advantage-icon {
        display: none;
    }

.advantages-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: justify;
}

.our-team {
    background: #F4F4FD;
    padding: 96px 0;
    /* margin: 96px 0; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.our-team-main {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    /* display: flex; */
    /* justify-content: center; */
    /* max-width: 1158px; */
    /* gap: 24px; */
    /* padding-top: 120px; */
    margin-bottom: 72px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize
}

.our-team-list {
    background-color: #F4F4FD;
    gap:72px;
    display: flex;
    flex-direction: column;
}

.our-team-foto {
    margin-bottom: 32px;
    justify-content: center;
    align-items: center;
}

.our-team-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.our-team-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.our-team-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    fill:#4d5ae5;
}

.our-team-link {
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 100%;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.our-team-link:hover,
.our-team-link:focus {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-icon {
    fill: #f4f4fd;
    stroke: #4d5ae5;
    /* viewBox="0 0 40 40"; */
    /* border-radius: 100%; */

}

.column-container {
    margin: 96px 16px;
}

.portfolio-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    /* display: flex; */
    /* justify-content: center; */
    margin-bottom: 72px;
    line-height: 111%;
    letter-spacing: 0.02em;
    /* text-align: center; */
    color: #2e2f42;
    text-transform: capitalize;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    /* row-gap: 48px; */
}


.portfolio-list-item {
    /* width: calc((100% - 48px) / 3); */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.portfolio-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
    /* border-radius: 4px; */
}
.portfolio-foto {
    justify-content: center;
    align-items: center;
}
.portfolio-wraper {
    position: relative;
    overflow: hidden;
    margin-bottom: 32px;
}
/* .portfolio-wraper:hover {
    transform: translateY(0%); 
} */

.portfolio-wraper-paragraf {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-wraper:hover .portfolio-wraper-paragraf {
    transform: translateY(0%);
  }

  .portfolio-app {
    /* padding: 32px 16px; */
    border: 1px solid #e7e9fc;
    border-top: none;
    text-align: start;
}

  .portfolio-title-list {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 32px;
    /* padding-left: 16px; */
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background: #2e2f42;
    padding: 96px 16px;

}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.logo-foot {
    display: inline-block;
    align-items: center;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    max-width: 288px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: start;
}

.social {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap:16px;
}

/* .footer-socials-item {
    width: 40px;
    height: 40px;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.footer-label {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-input {
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 264px;
    height: 40px;
    color: #ffffff;
}

.footer-input::placeholder {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
}
.input-footer-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 80px;
}
.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    min-width: 165px;
    height: 40px;

}
.subscribe-icon {
    margin-left: 16px;
    width: 24px;
    height: 24px;
    fill: #fff;
}

.footer-form {
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
